<div class="container-fluid">
    <div class="tam  justify-content-center d-flex align-items-center">
        <div class="m">
            <button type="button" class="btn btn-primary" routerLink="/turistas">Turistas</button>
        </div>
        <div class="m">
            <button type="button" class="btn btn-primary" routerLink="/ciudades">Ciudades</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" routerLink="/asignaciones">Historico</button>
        </div>
    </div>
</div>
